@model weddingplanner.Models.WeddingViewModel

<h2>Plan Your Wedding!</h2>
<form asp-controller="Wedding" asp-action="add" method="post">
    <span asp-validation-for="wedder1"></span>
    <label asp-for="wedder1"></label>
    <input asp-for="wedder1"/>
    <span asp-validation-for="wedder2"></span>
    <label asp-for="wedder2"></label>
    <input asp-for="wedder2"/>
    <span asp-validation-for="Date"></span>
    <label asp-for="Date"></label>
    <input asp-for="Date"/>
    <span asp-validation-for="Address"></span>
    <label asp-for="Address"></label>
    <input asp-for="Address"/>
    <input type="submit" value="Add Wedding!" />
</form>